<div md-dialog-title fxLayout="row" fxLayoutAlign="space-between center" class="dlgheader">
  <span>{{dlgTitle}}</span>
  <button md-dialog-close md-icon-button tabindex="-1"><md-icon>close</md-icon></button>
</div>
<div md-dialog-content class="dlgbody">
  <div fxLayout="row" fxLayoutGap="40px">
    <div [dragula]="'bag-a'" [dragulaOptions]="options" [dragulaModel]='selectedModel' class="lista">
      <div *ngFor="let item of selectedModel" [innerHtml]='item.name'></div>
    </div>
    <div [dragula]="'bag-a'" [dragulaOptions]="options" [dragulaModel]='unSelectedModel' class="listb">
      <div *ngFor="let item of unSelectedModel" [innerHtml]='item.name'></div>
    </div>
  </div>
  <!--
  <div class='wrapper'>
    <div class='container'>
      <pre>{{selectedModel | json}}</pre>
    </div>
    <div class='container'>
      <pre>{{unSelectedModel | json}}</pre>
    </div>
  </div>-->
</div>
<div md-dialog-actions fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="20px" class="dlgfooter">
  <button type="submit" md-raised-button color="primary"  tabindex="7" (click)="onSubmit()">Ok</button>
  <button md-button md-dialog-close  tabindex="8">Cancel</button>
</div>
