<div mat-dialog-title fxLayout="row" fxLayoutAlign="space-between center" class="dlgheader">
  <span>{{dlgTitle}}</span>
  <button mat-dialog-close mat-icon-button tabindex="-1"><mat-icon>close</mat-icon></button>
</div>
<form #locForm="ngForm">
  <div mat-dialog-content class="dlgbody">
    <table class="full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="full-width">
            <input matInput placeholder="EMail" name="emails" [(ngModel)]="user.email" tabindex="1" required/>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="full-width">
            <input matInput placeholder="Name" name="name" [(ngModel)]="user.name" tabindex="2" required />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="full-width">
            <input matInput placeholder="Password" name="password" [(ngModel)]="user.password" tabindex="3" required/>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input matInput [matDatepicker]="picker1" placeholder="expire date" name="expiredOn" [(ngModel)]="user.expiredOn" required>
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <span class="example-h2">Role:</span>
          <mat-radio-group class="example-radio-group" name="role" [(ngModel)]="user.role" required>
            <mat-radio-button class="example-radio-button" *ngFor="let role of roles"
              [value]="role.value" [disabled]="isDisabled()">{{role.display}}</mat-radio-button>
          </mat-radio-group>
        </td>
      </tr>
    </table>
  </div>
  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="20px" class="dlgfooter">
    <button type="button" mat-raised-button color="primary"
      tabindex="7"  (click)="onSubmit()" [disabled]="!locForm.valid">Save</button>
    <button mat-button mat-dialog-close  tabindex="8">Cancel</button>
  </div>
</form>
