<div md-dialog-title fxLayout="row" fxLayoutAlign="space-between center" class="dlgheader">
  <span>{{dlgTitle}}</span>
  <button md-dialog-close md-icon-button tabindex="-1"><md-icon>close</md-icon></button>
</div>
<form #locForm="ngForm" (ngSubmit)="onSubmit()">
  <div md-dialog-content class="dlgbody">
    <table class="full-width" cellspacing="0">
      <tr>
        <td>
          <md-input-container class="full-width">
            <input mdInput placeholder="医院编码" name="hcode" [(ngModel)]="hospital.hcode" tabindex="1" required />
          </md-input-container>
        </td>
        <td>
          <md-input-container class="full-width">
            <input mdInput placeholder="医院名称" name="name" [(ngModel)]="hospital.name" tabindex="2" />
          </md-input-container>
        </td>
      </tr>
      <tr>
        <td>
          <md-input-container class="full-width">
            <input mdInput placeholder="医院地址" name="address" [(ngModel)]="hospital.address" tabindex="3" />
          </md-input-container>
        </td>
        <td>
          <md-input-container class="full-width">
            <input mdInput placeholder="医院GPS编码" name="gpsinfo" [(ngModel)]="hospital.gpsinfo" tabindex="4" />
          </md-input-container>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <md-input-container class="full-width">
            <textarea mdInput placeholder="医院简介" rows="5" name="introduction" [(ngModel)]="hospital.introduction" tabindex="5" required></textarea>
          </md-input-container>
        </td>
      </tr>
    </table>
  </div>
  <div md-dialog-actions fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="20px" class="dlgfooter">
    <button type="submit" md-raised-button color="primary"  tabindex="10" [disabled]="!locForm.valid">确定</button>
    <button md-button md-dialog-close  tabindex="11">取消</button>
  </div>
</form>
