<form #locForm="ngForm" (ngSubmit)="onSubmit()">
  <div fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="0px" id="dlg-frame">
    <div mat-dialog-title fxLayout="row" fxLayoutAlign="space-between" class="dlgheader">
      <span>{{dlgTitle}}</span>
      <button mat-dialog-close mat-icon-button tabindex="-1">
        <mat-icon class="mdci">close</mat-icon>
      </button>
    </div>
    <div mat-dialog-content class="dlgbody">
      <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px">
        <mat-form-field class="full-width">
          <input matInput placeholder="Name" name="name" [(ngModel)]="location.name" tabindex="1" required/>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="ContactInfo" name="contactInfo" [(ngModel)]="location.contactInfo" tabindex="2"/>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="EMails" name="emails" [(ngModel)]="location.emails" tabindex="3"/>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <mat-form-field class="shortipt">
          <input matInput placeholder="Address" id="address" name="address" [(ngModel)]="location.address" tabindex="4"/>
        </mat-form-field>
        <mat-radio-group class="radioipt" name="searchType" [(ngModel)]="searchType">
          <mat-radio-button value="establishment" (click)="switchSearchType('establishment')">Establishments</mat-radio-button>
          <mat-radio-button value="address" (click)="switchSearchType('address')">Addresses</mat-radio-button>
        </mat-radio-group>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px">
        <mat-form-field>
          <input matInput placeholder="DataSrc" name="datasrc" [(ngModel)]="location.datasrc" tabindex="5" required/>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="SnapCount" name="snapcount" [(ngModel)]="location.snapcount" tabindex="6" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="SynPeriod" name="synperiod" [(ngModel)]="location.synperiod" tabindex="7" required/>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="MonitPeriod" name="monitperiod" [(ngModel)]="location.monitperiod" tabindex="8" required/>
        </mat-form-field>
      </div>
      <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="2px">
        <div>Data Alert Config:</div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" *ngFor="let ap of location.alertPolicy;let i = index">
          <div class="apname">{{i+1}}.<b>{{ap.name}}:</b></div>
          <div>min:<input type="number" class="aprange" id="{{ap.name}}_min" name="{{ap.name}}_min" step="{{ap.step?ap.step:1}}" value="{{ap.range.min}}"></div>
          <div>max:<input type="number" class="aprange" id="{{ap.name}}_max" name="{{ap.name}}_max" step="{{ap.step?ap.step:1}}" value="{{ap.range.max}}"></div>
          <div>{{ap.desc}}</div>
        </div>
      </div>
    </div>
    <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="20px" class="dlgfooter">
      <button type="submit" mat-raised-button color="primary" tabindex="10" [disabled]="!locForm.valid">Save</button>
      <button mat-button mat-dialog-close tabindex="11">Cancel</button>
    </div>
  </div>
</form>
