<!-- user list -->
<div class="panel-body">
  <button class="btn btn-primary" (click)="openAddDlg()">Create New User</button>
  <span>Current Users List.</span>
  <div id="listPanel">
    <table class="table table-bordered">
      <thead>
        <tr class="tbhead btn-primary">
          <th>Email</th>
          <th>Name</th>
          <th>Role</th>
          <th>CreatedOn</th>
          <th>ExpiredOn</th>
          <th>Operate</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td class="clkt" title="click to edit." (click)="openEditDlg(user)">{{user.email}}</td>
          <td>{{user.name}}</td>
          <td>{{user.role}}</td>
          <td>{{user.createdOn | date:'y-M-d h:mm:ss a'}}</td>
          <td>{{user.expiredOn | date:'y-M-d h:mm:ss a'}}</td>
          <td>
            <button class="btn btn-primary" (click)="deleteUser(user._id)">Delete</button>
            <button class="btn btn-primary" (click)="assignLocation(user)">AssignLocation</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
