extends layout_subpage
block append refRes
  style.
    .lform{padding-top:5px;}
    .lbtxt{padding-top:10px;text-align:right;}
    .ilipt{padding-top:5px;}
    .btrow {padding-top:10px;}
  script.
    var parentWin;
    var crtWinIndex;
    var crtPid = "{pid}";
    function doImportData(){
      var sendData = $("#forma").serializeObject();
      //console.log('sendData='+JSON.stringify(sendData,null,2));
      $.post('/locations/!{lid}/ibc/!{bid}',sendData,function(response,status){
        parent.layer.msg(response);
        parentWin.location.reload();
        //console.log('nodeid='+$("#nodeid").val());
        //var toStatus = $("#nodeid").val()!=''?'normal':'empty';
        //console.log('toStatus='+toStatus);
        //parentWin.refreshNode("!{pid}",toStatus);
        doClose();
      });
    }
    
    function doClose(){
      parent.layer.close(crtWinIndex);
    }

block content
  rows
    form#forma.form-horizontal.lform(role="form")
      input(type="hidden" name="lid" value= lid)
      input(type="hidden" name="bid" value= bid)
      form-group
        label.col-xs-2.control-label.lbtxt(for="data") Data:
        .col-xs-10.ilipt
          textarea.form-control(rows="10" cols="30" id="data" name="data")
      form-group.lbtxt
        .col-xs-offset-3.col-xs-3.btrow
          a.btn.btn-primary.btn-xs(onclick="doImportData()") Save
        .col-xs-4.btrow
          a.btn.btn-primary.btn-xs(onclick="doClose()") Cancel
