<div class="widgets">
  <div class="row">
    <div class="col-md-12">
      <span><b>[{{name}}]</b>'s Top<input type="text" style="width:40px" [(ngModel)] = "topLimit"/> AlertLog</span>
      <button class="btn btn-primary" (click)="loadAlertLog()">Refresh</button>
    </div>
  </div>
  <div class="row">
    <mat-accordion class="col-md-12" *ngFor="let alertLog of alertLogList">
      <mat-expansion-panel [expanded]="alertLog.dataType==showType">
        <mat-expansion-panel-header>
          <mat-panel-title>{{alertLog.dataType}}({{alertLog.dataDesc}}),totalAlertTimes:{{alertLog.atimes}}</mat-panel-title>
          <mat-panel-description>Not in Range[{{alertLog.dataRange.min}}~{{alertLog.dataRange.max}}] Top {{min(alertLog.atimes,topLimit)}} Alerts.</mat-panel-description>
        </mat-expansion-panel-header>
        <ng2-smart-table [settings]="settings" [source]="alertLog.alertInfos" (deleteConfirm)="onDeleteConfirm($event)">
        </ng2-smart-table>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
